@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #1F2937;
    height: 75px;
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.navbar a {
    color: #F9FAF8;
    text-decoration: none;
    opacity: .7;
}

.header {
    background-color: #1F2937;
    height: 500px;
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    max-width: 400px;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    line-height: 50px;
}

.header p {
    max-width: 450px;
    font-size: 18px;
    color: #F9FAF8;
    opacity: .7;
}

.header img {
    max-width: 700px;
}

.header button {
    margin-top: 10px;
    border: none;
    padding: 9px 33px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.boxes {
    height: 550px;
}

.boxes .container-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.boxes .box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes h3 {
    margin: 53px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.boxes img {
    max-width: 180px;
}

.boxes p {
    max-width: 175px;
    color: #1F2937;
    font-weight: 400;
    opacity: .7;
    font-size: 18px;
    margin-top: 5px;
}