@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/*  #05386B
    #379683
    #5CDB95
    #8EE4AF
    #EDF5E1 */

* {
    font-family: 'Lato', sans-serif;
    margin: 0 0;
    padding: 0 0;
}

a {
    text-decoration-color: transparent;
    transition: text-decoration-color .45s;
}

a:hover {
    cursor: pointer;
    text-decoration-color: #05386B;
}

body {
    background-color: #5CDB95;
    color: #05386B;
}

h1 {
    font-size: 34px;
    font-weight: 900;
}

button {
    border: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Navbar */
.navbar-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}

.navbar {
    width: 100%;
    height: 52px;

    background-color: #5CDB95;
    margin-bottom: 25px;
}

.navbar-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #05386B;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    font-size: 20px;
    font-weight: 700;
}

.info a {
    color: #05386B;
}

.smol {
    font-size: 15px;
}

/* Header */
.header {
    width: 100%;
    height: 320px;
}

.battle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player,
.robot {
    display: flex;
    flex-direction: column;
    gap: 0px;

    width: 480px;
    height: 250px;
    margin: 5px;
}

.fight {
    height: 100%;
    width: 100%;

    background-color: #379683;

    border-radius: 23px;
}

.name,
.robot-name {
    font-weight: 900;
    font-size: 33px;
    margin-left: 5px;
    margin-top: 0px;
}

.fight {
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.avatar {
    width: 28%;
    height: 80%;

    border: 1px solid black;
    margin: 10px;
    margin-top: 20px;
    border-radius: 50px;
}

.top-fight {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.health-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;

    margin-right: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.health-text {
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 5px;
}

.health-back {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 32px;
    width: 100%;

    background-color: #05386B;
    border-radius: 5px;
}

.health-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 98%;
    height: 78%;

    margin-left: 3.5px;

    background-color: #5CDB95;
    border-radius: 4px;
}

.health-status {
    font-size: 20px;
    font-weight: 700;
}

.bottom-fight {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rock,
.paper,
.scissors,
.rock-robot,
.paper-robot,
.scissors-robot {
    width: 30%;
    height: 85%;

    border-radius: 22px;
    background-color: #edf5e1;
}

.rock,
.rock-robot {
    margin-left: 10px;
    margin-right: 5px; 
}

.paper,
.paper-robot {
    margin: 0 5px;
}

.scissors,
.scissors-robot {
    margin-right: 10px;
    margin-left: 5px;
}

.bottom-fight img {
    width: 90%;
    height: 100%;
}

.scoreboard {
    width: 200px;
    height: 125px;
    display: flex;
    justify-content: center;
}

.hum-score,
.rob-score {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;
    border: 2px solid #05386B;
    background-color: #379683;
}

.hum-score {
    border-radius: 15px 0 0 15px;
}

.rob-score {
    border-radius: 0 15px 15px 0;
}

.scoreboard .robot-name,
.scoreboard .name {
    font-size: 23px;
    margin: 0 10px;
    text-align: center;
}

.hum-points,
.rob-points {
    font-size: 73px;
    font-weight: 900;
}